# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
logs/
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Data
data/raw/*
data/processed/*
data/reports/*

# Keep folders visible
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/reports/.gitkeep
!logs/.gitkeep
